.leaflet-container {
  height: 100%;
  width: 100%;
  z-index: 1;
}

.leaflet-control-attribution {
  font-size: 10px;
}

.leaflet-popup-content-wrapper {
  border-radius: 12px;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
