/* src/styles.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Leaflet */
.leaflet-container {
  width: 100% !important;
  height: 350px !important; 
  border-radius: 1rem;
  z-index: 1;
}

.leaflet-control-container {
  z-index: 2;
}

.leaflet-control-attribution {
  font-size: 10px;
}

.leaflet-popup-content-wrapper {
  border-radius: 12px;
}